<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>No Ninjas Here</title>
  </head>
  <body>
      <h1>No Ninjas here</h1>
      <a href="/ninjas"><h2>Click Here to see all my ninjas</h2></a>
      <a href="/ninjas/blue"><h2>Click Here for my favorite Ninja Turtle</h2></a>
      <a href="/ninjas/red"><h2>Click Here for dude who uses forks for weapons</h2></a>
      <a href="/ninjas/orange"><h2>Click Here for the Ninja Turtle who liked to party down</h2></a>
      <a href="/ninjas/purple"><h2>Click Here for everyone's least favorite Ninja Turtle</h2></a>
      <a href="/ninjas/other"><h2>Click Here for my the most worthless sidekick in cartoon history</h2></a>
  </body>
</html>
